/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* purgecss start ignore */
@import './fonts.css';
@import './opentype.css';
@import './forms.css';
@import '~/node_modules/vue-loading-overlay/dist/vue-loading.css';

html {
    @apply bg-background;
    font-size: 18px;
}

.page-enter-active, .page-leave-active {
    transition: opacity .2s, transform .2s;
}
.page-enter, .page-leave-to {
    opacity: 0;
    transform: translate(0, 30px);
}
/* purgecss end ignore */
